// Dutch (Netherlands) localized Windows 11 presentation resources.
// Keep all control IDs aligned with Rsrc.rc so the existing dialog procedures
// and application behavior remain unchanged.

#include "resrc1.h"
#include "windows.h"
#include "headers\resource.h"

LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
#pragma code_page(65001)

PDWMENU MENU
BEGIN
    POPUP "&Bestand"
    BEGIN
        MENUITEM "Logbestand &openen/sluiten...\tAlt+L", IDM_LOGFILE
        MENUITEM SEPARATOR
        MENUITEM "A&fsluiten\tAlt+F4",                 IDM_EXIT
    END
    POPUP "&Bewerken"
    BEGIN
        MENUITEM "Selectie &kopiëren\tCtrl+C",         IDM_COPY_SELECTION
        MENUITEM "&Monitorvenster kopiëren\tCtrl+U",    IDM_COPY_UPPER
        MENUITEM "&Filtervenster kopiëren\tCtrl+L",     IDM_COPY_LOWER
        MENUITEM "Klembord &opslaan...",                IDM_COPY_SAVE
        MENUITEM "Klembord &afdrukken...\tCtrl+P",      IDM_COPY_PRINT
    END
    POPUP "&Interface"
    BEGIN
        MENUITEM "&Instellen...\tCtrl-S",               IDM_INTERFACE
        MENUITEM "&Volume...\tAlt-V",                   IDM_VOLUME
    END
    POPUP "&Opties"
    BEGIN
        MENUITEM "&Opties...\tCtrl-O",                  IDM_OPTIONS
        MENUITEM "&Algemeen...\tCtrl-G",                IDM_GENERAL
        MENUITEM "&SMTP/E-mail...\tCtrl-M",             IDM_MAIL
    END
    POPUP "&Filters"
    BEGIN
        MENUITEM "&Filterlijst...\tCtrl-F",             IDM_FILTERS
        MENUITEM "Filter&opties...",                    IDM_FILTEROPTIONS
        MENUITEM "Filters &herladen",                   IDM_RELOAD
        MENUITEM "Alle &treffertellers resetten...",    IDM_RESET_HITCOUNTERS
        MENUITEM SEPARATOR
        MENUITEM "Filteruitvoer naar bestand",          IDM_FILTERFILE_EN
        MENUITEM "Filter-opdrachtbestand",              IDM_FILTERCOMMANDFILE
        MENUITEM SEPARATOR
        MENUITEM "TEST-/SYNTHETISCH bericht verzenden...", IDM_TEST_MESSAGE
    END
    POPUP "&Weergave"
    BEGIN
        MENUITEM "Scherm &wissen...\tCtrl-D",            IDM_CLEARDISPLAY
        MENUITEM "&Kleuren...",                         IDM_COLOR
        MENUITEM "&Lettertype...\tAlt-F",               IDM_FONT
        MENUITEM "Scherm&opties...",                    IDM_SCREENOPTIONS
        MENUITEM "&Terugscrollen...",                   IDM_SCROLLBACK
        MENUITEM "Systeem&vak...\tCtrl-T",              IDM_SYSTEMTRAY
    END
    POPUP "&Monitor"
    BEGIN
        MENUITEM "&POCSAG/FLEX",                        IDM_POCSAGFLEX
        MENUITEM "&ACARS",                              IDM_ACARS
        MENUITEM "&MOBITEX",                            IDM_MOBITEX
        MENUITEM "&ERMES",                              IDM_ERMES
        MENUITEM SEPARATOR
        MENUITEM "&Statistieken...\tAlt-S",             IDM_MONSTAT
    END
    POPUP "&Tekenset"
    BEGIN
        MENUITEM "&Standaard",                          IDM_ENGLISH
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help (opent PDW.pdf)\tF1",           IDM_HELP
        MENUITEM SEPARATOR
        MENUITEM "&Diagnostische informatie...\tF12",   IDM_DEBUG
        MENUITEM SEPARATOR
        MENUITEM "&Over PDW...",                        IDM_ABOUT
    END
END

ABOUTDLGBOX DIALOGEX 10, 10, 330, 188
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Over PDW"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,0,0,75,114,NOT WS_VISIBLE
    LTEXT           "PDW-versie",IDC_STATIC,18,18,58,10
    LTEXT           ".....",IDC_VERSION,82,18,105,10
    LTEXT           "Decoder voor POCSAG, FLEX, ACARS, MOBITEX en ERMES",IDC_STATIC,18,40,285,10
    LTEXT           "Copyright (c) 2001 - 2004 Jason Petty",IDC_STATIC,18,62,180,10
    LTEXT           "2004 - 2010 Peter Hunt",IDC_STATIC,18,77,150,10
    LTEXT           "2013 GNU GENERAL PUBLIC LICENSE",IDC_STATIC,18,92,190,10
    LTEXT           "Win2k/XP RS232-ondersteuning door Herman Withaar",IDC_STATIC,18,107,260,10
    LTEXT           "Powered by Nick ECO AI",IDC_STATIC,18,126,160,10
    PUSHBUTTON      "PDW-website bezoeken",IDC_WEBSITE,18,150,112,20
END

CLEARSCREENDLGBOX DIALOGEX 30, 20, 190, 112
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "PDW - Scherm wissen"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Kies welke vensters je wilt wissen.",IDC_STATIC,16,14,158,12
    CONTROL         "Monitorvenster",IDC_CLEAR_PANE1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,39,120,12
    CONTROL         "Filtervenster",IDC_CLEAR_PANE2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,58,120,12
    DEFPUSHBUTTON   "Wissen",IDOK,22,82,66,20
    PUSHBUTTON      "Annuleren",IDCANCEL,101,82,66,20
END

DEBUGDLGBOX DIALOGEX 10, 10, 450, 258
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "PDW Diagnostische informatie"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "Sessie",IDC_STATIC,8,8,434,88
    LTEXT           "Besturingssysteem:",IDC_STATIC,18,23,73,9
    LTEXT           ".....",IDC_DEBUG_OS,96,23,118,9
    LTEXT           "Gestart:",IDC_STATIC,18,38,73,9
    LTEXT           ".....",IDC_DEBUG_STARTED,96,38,118,9
    LTEXT           "Actief:",IDC_STATIC,18,53,73,9
    LTEXT           ".....",IDC_DEBUG_RUNNING,96,53,118,9
    LTEXT           "Invoer:",IDC_STATIC,18,68,73,9
    LTEXT           ".....",IDC_DEBUG_INPUT,96,68,118,9
    LTEXT           "FLEX-tijd:",IDC_STATIC,18,83,73,9
    LTEXT           ".....",IDC_DEBUG_FLEXTIME,96,83,118,9

    LTEXT           "Berichten:",IDC_STATIC,238,23,82,9
    LTEXT           ".....",IDC_DEBUG_MSG,324,23,94,9
    LTEXT           "Afgewezen:",IDC_STATIC,238,38,82,9
    LTEXT           ".....",IDC_DEBUG_REJECTED,324,38,94,9
    LTEXT           "Geblokkeerd:",IDC_STATIC,238,53,82,9
    LTEXT           ".....",IDC_DEBUG_BLOCKED,324,53,94,9
    LTEXT           "Buffer (timer):",IDC_STATIC,238,68,82,9
    LTEXT           ".....",IDC_DEBUG_BLOCKBUFFER,324,68,94,9
    LTEXT           "Groepsoproepen:",IDC_STATIC,238,83,82,9
    LTEXT           ".....",IDC_DEBUG_GROUPMSG,324,83,94,9
    LTEXT           "Gemiste groepsoproepen:",IDC_STATIC,238,98,100,9
    LTEXT           ".....",IDC_DEBUG_MISSED,342,98,76,9

    LTEXT           "TEST:",IDC_STATIC,18,98,28,9,NOT WS_VISIBLE
    LTEXT           ".....",IDC_DEBUG_TEST,52,98,102,9,NOT WS_VISIBLE

    GROUPBOX        "RX / COM-diagnostiek",IDC_STATIC,8,112,434,138
    EDITTEXT        IDC_DEBUG_RXTEXT,18,128,414,84,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Ruwe RX-log starten",IDC_DEBUG_RAW_START,18,220,94,18
    PUSHBUTTON      "Ruwe RX-log stoppen",IDC_DEBUG_RAW_STOP,120,220,94,18
    PUSHBUTTON      "Diagnostiek kopiëren",IDC_DEBUG_COPY,222,220,94,18
    LTEXT           "De ruwe log is begrensd tot 16 MiB en stopt automatisch bij de limiet.",IDC_STATIC,324,219,108,25
END

LOGFILEDLGBOX DIALOGEX 10, 10, 330, 190
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "PDW - Logbestand"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Logbestand",IDC_STATIC,16,14,140,14
    CONTROL         "Logbestand inschakelen",IDC_LOGFILEEN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,38,145,12
    LTEXT           "Bestand:",IDC_STATIC,18,61,44,10
    EDITTEXT        IDC_LOGFILE,66,58,174,18,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "Bladeren...",IDC_LOGBROWSE,248,58,66,18
    CONTROL         "Datum als bestandsnaam gebruiken",IDC_LOGFILEDATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,84,180,12

    GROUPBOX        "Kolommen in het logbestand",IDC_STATIC,16,106,298,48
    CONTROL         "Capcode",621,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,28,123,58,12
    CONTROL         "Tijd",622,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,92,123,44,12
    CONTROL         "Datum",623,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,123,50,12
    CONTROL         "Modus",624,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,198,123,52,12
    CONTROL         "Type",625,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,256,123,46,12
    CONTROL         "Bitrate",626,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,28,139,58,12
    CONTROL         "Bericht",627,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,92,139,58,12

    DEFPUSHBUTTON   "OK",IDOK,174,164,66,20
    PUSHBUTTON      "Annuleren",IDCANCEL,248,164,66,20
END

PRCANCEL DIALOGEX 10, 10, 210, 84
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "PDW - Afdrukken"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Het document wordt afgedrukt.",IDC_STATIC,16,16,178,12
    PUSHBUTTON      "Afdrukken annuleren",IDCANCEL,55,48,100,20
END

CUSTOM_AUDIO_DLG DIALOGEX 10, 10, 280, 278
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "PDW - Aangepaste audio-instellingen"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Pas de detectieparameters per datasnelheid aan.",IDC_STATIC,16,14,248,12

    GROUPBOX        "Drempelwaarde",IDC_STATIC,16,36,248,58
    LTEXT           "512 baud:",IDC_STATIC,28,55,44,10
    COMBOBOX        IDC_THRESHOLD512,76,52,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1200 baud:",IDC_STATIC,28,74,44,10
    COMBOBOX        IDC_THRESHOLD1200,76,71,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "2400 baud:",IDC_STATIC,144,55,46,10
    COMBOBOX        IDC_THRESHOLD2400,194,52,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1600 baud:",IDC_STATIC,144,74,46,10
    COMBOBOX        IDC_THRESHOLD1600,194,71,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Hersynchronisatie",IDC_STATIC,16,104,248,58
    LTEXT           "512 baud:",IDC_STATIC,28,123,44,10
    COMBOBOX        IDC_RESYNC512,76,120,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1200 baud:",IDC_STATIC,28,142,44,10
    COMBOBOX        IDC_RESYNC1200,76,139,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "2400 baud:",IDC_STATIC,144,123,46,10
    COMBOBOX        IDC_RESYNC2400,194,120,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1600 baud:",IDC_STATIC,144,142,46,10
    COMBOBOX        IDC_RESYNC1600,194,139,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Centrering",IDC_STATIC,16,172,248,58
    LTEXT           "512 baud:",IDC_STATIC,28,191,44,10
    COMBOBOX        IDC_CENTERING512,76,188,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1200 baud:",IDC_STATIC,28,210,44,10
    COMBOBOX        IDC_CENTERING1200,76,207,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "2400 baud:",IDC_STATIC,144,191,46,10
    COMBOBOX        IDC_CENTERING2400,194,188,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "1600 baud:",IDC_STATIC,144,210,46,10
    COMBOBOX        IDC_CENTERING1600,194,207,42,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "OK",IDOK,122,246,66,20
    PUSHBUTTON      "Annuleren",IDCANCEL,198,246,66,20
END
